
<div class="container matchup">
  <div class="jumbotron mt-4 text-left">
    <h1 class="display-4 text-center" id="">Hi!</h1>
    <hr>
    <h4 id="petName">Name: </h4>
    <h4 id="petType">Type: </h4>
    <h4 id="petBreed">Breed: </h4>
    <h4 id="petGender">Gender: </h4>
    <h4 id="petAge">Age: </h4>
    <h4 id="petSize">Size: </h4>
    <h4 id="petDescription">Description: </h4>
    <img id="petImg">
    <hr>
    <a href="/quiz" class="text-center">Have you taken our matchmaking quiz yet?</a>
  </div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js'></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/petSearch.js"></script>
